body {
    margin: 0;
font-family: "Jost", "Arial", sans-serif;
    overflow-x: auto;
}
body a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.Robo-header {
    max-width: 1920px;
    margin: 0 auto;
    background-color:rgb(20, 16, 36);
}
.main-navigation {
max-width:1720px ;
    margin: 0 auto;
    padding-top: 30px;
}
.Robo-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}
.Robo-header-div img {
    display: block;
    border: dashed 1px rgb(255, 255, 255,0.5);
    box-sizing: border-box;
}
.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    min-width: 324px;
    justify-content: space-between;

}
.navigation-list-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}
.phone-link {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
    text-align: right;
}
.lead-fon-title {
    max-width:1327px;
    margin: 0 auto;
}
.title-header-div {
    display: flex;
    justify-content: space-between;
}
.description {
    max-width: 516px;
}
.lead-title {
    padding-top: 182px;
    margin:0;
    font-size: 70px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.description p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    margin: 0;
    margin-bottom: 50px;
}
.link-record {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(213, 32, 39);
    align-items: center;
    justify-content: center;
    max-width: 260px;
    padding: 25px 54px 25px 54px;
}
.link-record a {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}
.lead-fon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 713px;
    height: 918px;
   /* background-image: url("../img/student.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;*/
z-index: 1;
}
.ellips {
    position: absolute;
    top: 100;
    left:-133;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 783px;
    height: 783px;
    box-sizing: border-box;
    border: 80px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-origin: border-box;
    z-index:-1 ;
}
.lead-fon-1 {
    position: relative;
    background-image: url("../img/student.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 516px;
    height: 918px;
    background-position: center;

}
/*основное содержимое robo-main-div*/
.robo-main-div {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.description-shcool {
    max-width: 891px;
    margin-bottom: 60px;
    padding-top: 120px;
}
.description-shcool p {
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
}
/*список претмуществ*/
.advantages-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;

}
.advantages-items {
    max-width: 260px;
}
.advantages-number {
    margin: 0;
    color: rgb(213, 32, 39);
    font-family: Jost;
    font-size: 70px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
}
.description-advantages {
    margin: 0;
    color: rgba(20, 16, 36, 0.7);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
}
/* что получат после курсов*/

.result {
    max-width: 1920px;
    margin: 0 auto;
    background-color:rgb(249, 249, 249);
    padding-top: 100px;
    padding-bottom: 100px;
}
.result-div {
    max-width: 1200px;
    margin: 0 auto;
}
.result-title {
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 60px;

}
.result-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}
.result-item-title {
    margin: 0;
    position: relative;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 19px;
}
/*всплывающая подсказка*/
.result-item-title div {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("/img/i.svg"), url("/img/Ellipse 35.png");
    background-size: contain contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    top:-4;
    left: 100;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    opacity: 0;
    position: absolute;
    width: 251px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.1);
    background-color: rgb(255, 255, 255);
    transition: 1s;
    pointer-events: none;
    padding: 15px 20px 15px 20px;
    color: rgb(20, 16, 36);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
    top:-66;
}

[data-tooltip]:hover::after {
    opacity: 1;
}
/*продолжение стилизации result*/
.result-description {
    margin: 0;
    color: rgba(20, 16, 36, 0.7);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
}

/*стили для слайдера тренеры*/
.slider {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 120px;
}
.slider h2 {
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 60px;

}
.slider-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:40px;
    transition: transform 0.5s ease-in-out;
}
.trainer-link {
position: relative;
    margin-bottom:20px ;
}
.trainer-link img {
    position: relative;
    margin-bottom: 20px;
    max-width: 360px;
    height: auto;
}

.name-trainer {
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin: 0;
    margin-bottom: 9px;
}
.about-trainer {
    color: rgba(20, 16, 36, 0.7);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}
.button-trainer {
    border: none;
    color: rgb(213, 32, 39);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
  background-color: white;
    margin-bottom: 100px;
    cursor: pointer;
}
.trainer-link::after {
position: absolute;
content: "";
width:360px;
height:5px;
background:linear-gradient(to right,black 75%,rgba(20, 16, 36, 0.08) 75%);
    border-radius: 40px;
   top:223;
    left:0;
    display: none;
}
.trainer-link:hover::after {
    display: block;
}
.buttons-slider-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.buttons-slider {
    width: 34px;
    height: 34px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.left-button-slider {
    background-image: url("/img/left.png");
    background-repeat: no-repeat;
    background-size: contain;

}
.right-button-slider {
    background-image: url("/img/right.png");
    background-repeat: no-repeat;
    background-size: contain;


}
/* стили для пакетов курсов*/
.paket {
    width: 1160px;
    margin: 0 auto;
}
.list-name {
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 60px;
}
.paket-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 140px;
}
.paket-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    box-sizing: border-box;
    border: 1px solid rgba(20, 16, 36, 0.2);
    border-radius: 20px;
    padding: 40px 0;
}

.paket-name {
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
    text-align: center;
    margin-bottom: 83px;
}
.price {
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
    text-align: center;
    margin-bottom: 20px;
}
.paket-description {
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
    margin-bottom: 52px;
    min-height: 58px;
}
.paket-button {
    width: 280px;
    box-sizing: border-box;
    padding: 25px 54px 25px 54px;
    border-radius: 5px;
    background-color: rgb(213, 32, 39);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}
 .paket-items:hover {
    color: white;
    background: rgb(20, 16, 36);
     transform: scaleY(1.1);
}
 .paket-items:hover p {
     color: white;
 }
 .paket-items:hover h3 {
     color: white;
 }
 /*стили для формы*/
.form-section {
    max-width: 1920px;
    background-color:rgb(213, 32, 39);
    background-image: url("../img/procent.png");
    background-position: bottom;
    border-top:dashed 1px rgb(255, 255, 255,0.5) ;
    border-bottom: dashed 1px rgb(255, 255, 255,0.5);
    margin: 0 auto;

}
.form-div {
    display: flex;
    width: 1040px;
    align-items: center;
    margin: 0 auto;
    gap:64px;
}
.promotion {
    color: rgb(255, 255, 255);
}
.promotion-info {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.promotion-validity {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}
.recoding-form {
    width: 500px;
    padding: 87 0;
}
.input-field {
    display: flex;
    flex-direction: column;
}
label{
    display: none;
}
input {
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background: rgb(246, 246, 246);
    border: none;
    margin-bottom: 10px;

}
input[type="text"],
input[type="tel"],
input[type="email"]{
    color: rgba(40, 41, 68, 0.7);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-left: 20px;

}
input[type="submit"] {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(20, 16, 36);
    margin-bottom:0;
    cursor: pointer;
}
.footer-div-lead {
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgb(20, 16, 36);
    padding: 40px 100px;
    box-sizing: border-box;
}
.footer-robot img {
    display: block;
    max-width: 100%;
    height: auto;
}
.footer-div {
    max-width: 1720px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-footer {
    display: block;
    margin-bottom: 5px;
}
/*стили для модального окна*/
.modal {
    display: none;
    position: fixed;
    max-width: 940px;
    max-height: 768px;
    top:30%;
    left: 50%;
    margin-left: -470px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}
.modal::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.modal-show {
    display: block;
}
.modal-content {
    max-width: 860px;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    background-color: white;
    z-index: 2;
}
.description-treiner {
    box-sizing: border-box;
    max-width: 860px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}
.photo-treiner {
    display: block;
}
.title-trainer {
    margin-right: 335px;
    max-width: 261px;
    margin-left: 40px;
}
.title-trainer  h3{
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 10px;
}
.title-trainer p {
    margin: 0;
    color: rgba(20, 16, 36, 0.7);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    margin-bottom: 10px;
}
.icon{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.modal-exit {
    max-width: 64px;
    max-height: 29px;
    border: none;
    color: rgba(20, 16, 36, 0.7);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    text-align: right;
    background-color: white;
}
.list-description-trainer {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.item-descripion-trainer a {
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
}
.item-descripion-trainer a:hover {
    color: rgb(213, 32, 39);
}
.item-descripion-trainer a:active  {
    color: rgb(213, 32, 39);

}
.item-1 {
    margin-right:180px ;
}
.item-2 {
    margin-right: 187px;
}
.more-detailed {
    max-height: 350px;
padding-top: 20px;
    border-top: 1px solid rgba(20, 16, 36, 0.11);
    overflow-y: auto;
    background: linear-gradient(180.00deg, rgb(20, 16, 36),rgba(20, 16, 36, 0));
    -webkit-background-clip:
            text;
    -webkit-text-fill-color:
            transparent;
    background-clip:
            text;
    text-fill-color:
            transparent;

}
.more-detailed:last-child{
}
.more-detailed::-webkit-scrollbar{
    width: 5px;
}
.more-detailed::-webkit-scrollbar-track{
    background: rgba(20, 16, 36, 0.08);
}
.more-detailed::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: rgb(20, 16, 36);
}

.more-detailed p {
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
}
.education-courses {
    margin-bottom: 40px;
}
.courses-title {
    margin: 0;
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 20px;
}